/*-----------------GENERIC GROUPED CSS------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
  }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin:0;
  padding:0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#btn {
  padding: 15px;
  text-align: center;
  background: lightgrey;
  color: black;
  width: 200px;
  height: 60px;
  font-family: 'Raleway', sans-serif;
  margin-left: 1;
}

#btn:hover {
  color: white;
  background: lightpink;
  /*text-shadow: 1px 1px 1px #000,
               3px 3px 5px #000;*/
}
/*-----------------------------BODY------------------------*/
body {
  background: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  /*text-shadow: 1px 1px 1px #000,
               3px 3px 5px #000;*/
}
/*-----------------------------MAIN------------------------*/
.container {
 width: 98%;
 height: auto;
 padding: 1%;
 border-radius: 10px;
 background: white;
 margin: 0 auto;
 position: relative;
 clear: both;
}
/*----------------------------HEADER AND NAV-----------------------*/
/*.overlay{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2); /*dim the background*/



.nav {
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px #000;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.nav ul {
  list-style: none;
  text-decoration: none;
  float: right;
  padding-top: 23px;
}

.nav li {
  display: inline;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}
/*----------------------------LISTS-----------------------*/
ul {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

li {
  list-style: none;
}

li:nth-of-type(odd) {
  color: lightpink;
}

a {
  color: lightpink;
}

a:hover {
  color: hotpink;
}
/*----------------------------IMAGES-----------------------*/
img {
  width:
  /*border: 2px solid black;*/
}
/*----------------------------1st & 2nd SECTION-----------------------*/
.top {
  padding-top: 50px;
  height: auto;
  clear: both;
}
/*----------------------------FIRST SECTION-----------------------*/
.firstSection {
  width: 60%;
  float:left;
  margin-left: 10px;
}
.largeImage {
  border: 2px solid black;
  border-radius: 0px;
  width: 100%;
  position: relative;
  /*height: 50%;
  margin: auto;*/
}
/*----------------------------SECOND SECTION-----------------------*/
#infoSection {
  float: right;
  font-size: 135%;
  margin-right: 15px;
  /*padding-top: 80px;*/
  width: 35%;
  color: #000;
  height: 100%;
  vertical-align: middle;
  padding-top: 1%;
}
/*-----------------------------MIDDLE SECTION------------------------*/
.middle {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  padding-bottom: 20px;
}
/*------------------THIRD SECTION-RELATED PRODUCTS/IMAGES--------------*/
#thirdSection {
  border: 2px solid black;
  height: auto;

}

#products {
  float: left;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: black;
  height: 50px;
}

.relatedProducts {
  /*width: 25%;*/
  /*height: 25%;*/
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  padding-bottom: 100px;
}

.images {
  position: relative;
  float: left;
}
/*------------------CAPTIONS UNDER PRODUCTS--------------*/
/* Love by Chance Bracelet */
.caption1{
  position: absolute;
  top: 220px;
  left: 77px;
}

.caption1:after {
  clear:both;
}
/* Sweet and Pink Bracelet */
.caption2 {
  position: absolute;
  top: 220px;
  left: 85px;
}
/* Midnight Bright Bracelet */
.caption3 {
  position: absolute;
  top: 220px;
  left: 78px;
}
/* Sweet Mystery Bracelet */
.caption4 {
  position: absolute;
  top: 220px;
  left: 80px;
}
/*------------------BUTTONS UNDER PRODUCTS--------------*/
.btn1 {
  position: absolute;
  top: 260px;
  left: 69px;
  border-radius: 0px;
  background: #grey;
  height: 30px;
  width: 150px;
  font-family: 'Raleway', sans-serif;
}

.btn1:hover {
  color: hotpink;
}

.btn2 {
  position: absolute;
  top: 260px;
  left: 79px;
  border-radius: 0px;
  background: #grey;
  height: 30px;
  width: 150px;
  font-family: 'Raleway', sans-serif;
}

.btn2:hover {
  color: hotpink;
}

.btn3 {
  position: absolute;
  top: 260px;
  left: 73px;
  border-radius: 0px;
  background: #grey;
  height: 30px;
  width: 150px;
  font-family: 'Raleway', sans-serif;
}

.btn3:hover {
  color: hotpink;
}

.btn4 {
  position: absolute;
  top: 260px;
  left: 69px;
  border-radius: 0px;
  background: #grey;
  height: 30px;
  width: 150px;
  font-family: 'Raleway', sans-serif;
}

.btn4:hover {
  color: hotpink;
}

#name {
  float: left;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #000;
  text-shadow: 1px 1px 1px #000,
               1px 1px 1px #000;
}
#contactBtn {
  padding: 10px;
  margin-top: 50px;
  width: 150px;
  float: right;
}

#contactForm {
  width: 80%;
  margin: auto;
  padding-top: 70px;
}


input {
  border: 10px dotted black;
  overflow: visible;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

input:hover {
  border: 10px dotted hotpink;
}

textarea {
  border: 10px dotted hotpink;
  overflow: auto;
  width: 100%;
  height: 50%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

textarea:hover {
  border: 10px dotted black;
}


#contactBtn:hover {
    border: 10px dotted hotpink;
}

.footer {
  padding-top: 100px;
  text-align: center;
  clear:both;
}
